.myButton{
    height: 56px;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 5px;
    box-sizing: border-box;
}
.myButton:hover{
    cursor: pointer;
    border: 1px solid;
}
.light{
    background: #9dcff3;
    color: #281515;
}
.dark{
    background: rgb(3, 37, 65);
    color: peachpuff;
}
.SearchIcon{
    opacity: 0.4;
    transition:all 0.4s ease;
}
.myButton:hover .SearchIcon{
    opacity: 1;
}