@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Raleway", sans-serif;
    margin: 0;
}
.light{
    background: #e3fdfd;
    color: #281515;
}
.dark{
    background: #33404b;
    color: peachpuff;
}
.hide{
    display: none !important;
}
.show{
    display:inline-block !important;
}
.background{
    min-height: calc(100vh - 100px);
}
.movies-box{
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
}
.wrap{
    width: 60%;
    margin:0 auto;
}